@charset "UTF-8";
html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

li {
  list-style: none;
  display: block;
}

img {
  vertical-align: bottom;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px 10px;
  justify-content: space-between;
}

.flex {
  display: flex;
}

.section__title {
  position: relative;
  margin-bottom: 50px;
  text-align: center;
  font-size: 4rem;
  border-bottom: 2px solid #8DC8E7;
}

.section__title::before {
  position: absolute;
  left: 0;
  bottom: -2px;
  content: "";
  border-bottom: solid 2px;
  border-color: #FF5470;
  width: 20%;
}

p {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: white;
}

.section__left, .section__right {
  width: 45%;
}

.section__sentence {
  padding: 10px 20px;
}

header {
  text-align: center;
  width: 100%;
  padding-top: 4px;
}

header h1 {
  max-width: 1000px;
  margin: 0 auto;
}

.nav__top {
  background-color: #8DC8E7;
  height: 40px;
  line-height: 40px;
  font-size: 1.5rem;
  color: white;
  position: relative;
}

.nav__top ul {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.nav__top ul li {
  padding-right: 30px;
}

.nav__top ul li::after {
  content: "|";
  display: inline-block;
  margin-left: 30px;
  transform: rotate(45deg);
}

.burger {
  position: absolute;
  margin-top: 5px;
  border-radius: 8px;
  right: 5px;
  width: 30px;
  height: 30px;
  background: white;
}

.burger span {
  position: absolute;
  display: block;
  content: "";
  background: black;
  height: 2px;
  width: 20px;
  border-radius: 10px;
  margin-left: 5px;
}

.burger .bar__mid {
  top: 14px;
}

.burger .bar__top {
  top: 5px;
}

.burger .bar__bottom {
  bottom: 5px;
}

.nav__media {
  display: none;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.nav__media ul {
  padding-top: 150px;
}

.nav__media ul li {
  text-align: center;
  font-size: 2rem;
  padding-top: 3rem;
}

.nav__media ul li a {
  color: white;
}

.fv {
  width: 100%;
  height: 80vh;
}

.fv .fv__box {
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 80vh;
  position: relative;
  z-index: 0;
}

.fv .fv__box::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: brightness(75%);
  z-index: -1;
}

.fv .fv__1 {
  background-image: url(../img/fv__1.jpg);
  position: relative;
}

.fv .fv__1 h1 {
  position: absolute;
  bottom: 10%;
  right: 10%;
  color: white;
  font-size: 4rem;
  text-shadow: 0 2px 2px #666;
}

.fv .fv__2 {
  background-image: url(../img/fv__2.jpg);
}

.fv .fv__3 {
  background-image: url(../img/fv__3.jpg);
}

.main {
  background-image: url(../img/fv__1.jpg);
  background-size: cover;
  width: 100%;
  height: 80vh;
  position: relative;
  z-index: 0;
}

.main::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: brightness(75%);
  z-index: -1;
}

.main h1 {
  position: absolute;
  bottom: 10%;
  right: 10%;
  color: white;
  font-size: 4rem;
  text-shadow: 0 2px 2px #666;
}

.team__right {
  text-align: center;
}

.section__img {
  max-width: 100%;
}

.practice {
  background-color: #8DC8E7;
  position: relative;
  padding-top: 30px;
}

.practice::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0px 50px 100vw;
  border-color: transparent transparent transparent white;
}

.section__blue {
  border-bottom: 2px solid white;
}

.circle::after {
  content: "○";
}

footer {
  background-color: #8DC8E7;
  text-align: center;
  height: 50px;
  line-height: 50px;
}

.btn {
  width: 150px;
  height: 40px;
  font-size: 1.5rem;
  font-weight: bolder;
  line-height: 40px;
  background-color: #FF5470;
  text-align: center;
  border-radius: 20px;
  color: white;
  margin-top: 15px;
  margin: 20px auto;
}

@media (max-width: 600px) {
  .nav__top ul li {
    padding-left: 8px;
    padding-right: 8px;
  }
  .flex {
    flex-direction: column;
  }
  .flex div {
    width: 100%;
  }
  #practice {
    flex-direction: column-reverse;
  }
}
/*# sourceMappingURL=style.css.map */